@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap'); 

:root {
	--primary: #0a0e29;
	--secondary: #b9a13f;
	--row: #2494a2;
	--background: #fefff2;
	--black: #333;
	--white: #fff;
	--box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);
  --body-font: 'Poppins';
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
  }

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: var(--background);
}

/* Header Start */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  height: 80px;
  background: var(--primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

header img .logo {
  font-size: 30px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary);
  transition: 0.3 ease;
}

#navbar li a:hover{
  color: var(--background);
  transition: .5s ease;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--primary);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #navbar li a:hover{
    color: var(--background);
    transition: .5s ease;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: var(--secondary);
    font-size: 24px;
    padding-left: 15px;
  }

  #mobile i:hover{
    color: var(--background);
    transition: .5s ease;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #login {
    display: none;
  }
}
/* End Navbar */

/* Start Facilities */
/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== CARD ===============*/
.center h1{
	color: var(--secondary);
	font-size: 3rem;
	text-align: center;
  padding-bottom: 20px;
}
.center p{
	color: var(--primary);
	font-size: 1rem;
	text-align: center;
  padding-bottom: 30px;
}

.team{
	position: relative;
	width: auto;
	height: auto;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  padding-bottom: 500px;
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__article h2{
  color: var(--secondary);
  text-align: center;
  padding-bottom: 20px;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__data p{
  font-size: 16px;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
/* End Facilities */

/* Start Footer */
footer {
	background-color: var(--primary);
	padding: 100px 0;
  }
  
  .footer {
	max-width: 1170px;
	margin: auto;
  }
  
  .row {
	display: flex;
	flex-wrap: wrap;
  }
  
  .footer-col {
	width: 25%;
	padding: 10px 15px;
  }
  .footer-col h4 {
	font-size: 18px;
	color: var(--secondary);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  }
  .footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: var(--row);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
  }
  
  .footer-col ul li{
	list-style: none;
  }
  
  .footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
  }
  
  .footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: var(--white);
	display: block;
	transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
	color: var(--secondary);
	padding-left: 8px;
  }
  
  .footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 25%;
	color: var(--white);
	transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
	transform: translateY(-3px) translateX(-5px);
  }
  
  @media (max-width: 799px) {
	  .contact h1 {
		  font-size: 24px;
		}
		.footer-col {
			width: 50%;
			margin-bottom: 30px;
		}
	}
	@media (max-width: 574px) {
		.contact {
			font-size: 24px;
		}
		.footer-col {
			width: 100%;
		}
	}
/* End Footer */